.weatherData.animate {
  animation: showWeatherData 1s;
  transition: all ease-in .3s;
}

@keyframes showWeatherData {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
